/*.form-group {
  text-align: left;
  display: inline;
}*/

.addBtn {
    color: #000;
    border: none;
    background-color: transparent;
    font-size: 1.6em;
    margin: -0.55em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.addBtn:hover,
.addBtn:focus {
    color: #964647;
    background-color: #fff;
}

.title {
  margin-top: -5em;
}

.allContent {
  text-align: left;
  padding-bottom: -1em;
}

.completed {
  text-align: left;
  font-size: 1em;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.space {
  padding-right: 0.5em;
  padding-bottom: 1em;
}

.center {
  text-align: center;
}

.arrowSpace {
  padding: 1.2em;
  margin-bottom: 1em;
}

#addBtn {
  background: transparent;
  border-radius: 100%;
  border-width: 3px;
  border-color: black;
  margin-bottom: 2em;
}

.inputTitle {
  margin-bottom: 0.4em;
  margin-top: 3em;
}

.title {
  margin-top: 2em;
  margin-bottom: 1em;
}
