/*INTERVIEW LANDING PAGE*/
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.intro .intro-body .brand-heading {
    padding-top: 0.3em;
    font-size: 3em;
    margin-top: 6em;
}

.intro .intro-body .intro-text {
    font-size: 1.6em;
    margin-top: -1.6em;
}

#interview-stuff {
    padding-top: 5em;
}

.block {
    background: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.brand-heading {
    border-top: 1px solid black;
}

.top-content {
    margin-top: -70px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 6em;
    }

    .intro .intro-body .intro-text {
        font-size: 2em;
    }
}

/*DOWN BUTTON TO INTERVIEW QUESTIONS*/
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 1em;
  /*  padding: 7px 16px;*/
/*    border: 2px solid #000;
    border-radius: 100%!important;*/
    font-size: 40px;
    color: #000;
    background: 0 0;
}

.btn-circle:hover,
.btn-circle:focus {
    color: #000;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/*INTERVIEW*/
.interview {
    padding-top: 53em;
    padding-bottom: 3em;
    width: 100%;
}

.interviewer {
    font-style: italic;
    padding-bottom: 1em;
    text-align: left;
}

.interviewee {
    padding-bottom: 2em;
    text-align: left;
}

/*SOCIAL BUTTONS*/
.interviewBtn {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
        border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.interviewBtn:hover,
.interviewBtn:focus {
    border: 1px solid #964647;
    outline: 0;
    color: #964647;
    background-color: #fff;
}

.summaryDiv {
    text-align: center;
    font-style: italic;
}

.summaryText {
    text-align: left;
}
