body {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #964647;
}

.light {
    font-weight: 400;
}

/*NAVBAR*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a:hover {
    color: #964647;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #964647;
}

/*INTERVIEW LANDING PAGE*/
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #000;
    background: url(../img/example5.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    margin-top: 6em;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    margin-top: -1.6em;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 6em;
    }

    .intro .intro-body .intro-text {
        font-size: 2em;
    }
}

/*DOWN BUTTON TO INTERVIEW QUESTIONS*/
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: -.5em;
  /*  padding: 7px 16px;*/
/*    border: 2px solid #000;
    border-radius: 100%!important;*/
    font-size: 40px;
    color: #000;
    background: 0 0;
}

.btn-circle:hover,
.btn-circle:focus {
    color: #000;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*SOCIAL BUTTONS*/
.btn-default {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #964647;
    outline: 0;
    color: #964647;
    background-color: #fff;
}

/*FOOTER*/
footer {
    padding: 1em 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/*INTERVIEW*/
#interview {
    padding-top: 5em;
    padding-bottom: 3em;
    width: 100%;
}

.interviewer {
    font-style: italic;
    padding-bottom: 1em;
    text-align: left;
}

.interviewee {
    padding-bottom: 2em;
    text-align: left;
}
