.loginBlock {
  margin-bottom: 17em;
}

.loginSubmit {
  padding-top: 2em;
}

.loginBtn {
  margin-top: 0.8em;
  font-size: 1em;
  background-color: transparent;
  color: #964647;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}
