body {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .formatFont, .arrowSpace {
/*    margin: 0 0 35px;*/
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

p {
    padding-top: 1.2em;
    font-size: 1em;
    line-height: 1.5;
}

a, .highlight, .navbar-custom .nav li.active a:hover {
    color: #964647;
}

.light {
    font-weight: 400;
}

/*NAVBAR*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a:hover {
    color: #964647;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #964647;
}

/*FOOTER*/
footer {
    padding: 1em 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 0.8em;
    color: gray;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

