body {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #262626;
    background-color: #fff;
}

/*.wrap {
    max-width: 1200px;
    position: relative;
}*/

h1, h2, h3, h4, h5, h6, .formatFont, .arrowSpace {
/*    margin: 0 0 35px;*/
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

p {
    padding-top: 1.2em;
    font-size: 1em;
    line-height: 1.5;
}

#logo {
    max-width: 60%;
    padding-left: 7%;
    margin-top: 8%;
}

    @media (min-device-width: 320px) {
        #logo {
            margin-top: 18%;
        }
    }

    @media (min-device-width: 375px) {
        #logo {
            margin-top: 30%;
        }
    }

    @media (min-device-width: 768px) {
        #logo {
            margin-top: 20%;
        }
    }

    @media (min-device-width: 1200px) {
        #logo {
            margin-top: 10%;
        }
    }

.home-blurb {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
    font-size: 0.85em;
}

.content-blurb {
    padding-top: 0;
}

.main-view {
    margin-top: -4.5em;
}

.jumbo-border {
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

a, .highlight, .navbar-custom .nav li.active  {
    color: #964647;
}

a:hover {
    color: #CA8E8F;
}

.light {
    font-weight: 400;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
}

/*NAVBAR*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a:hover {
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active {
    color: #964647;
}

.buffer {
    margin-top: 3.5em;
}


.homeArrow {
    margin-top: 0;
}

.btn-circle:focus {
    outline: none;
    box-shadow: none;
}

/*FOOTER*/
footer {
/*    clear: both;*/
/*    position: relative;*/
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    font-size: 0.8em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#emailFooter {
    padding-top: 2em;
}

footer p {
    margin-top: -1em;
    color: gray;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*HOME PAGE FADE IN TRANSITIONS*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;

    animation-iteration-count: 1;
}

.fadeInTwo {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.fadeInThree {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.fadeInFour {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.fadeInFive {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}

.inline {
    display: inline-block;
}
