.topSpace {
  padding-top: 2.8em;
}

.resourceList {
  text-align: center;
}

.resourceSubtitle {
  margin-top: -1em;
  padding-bottom: 1em;
}

.categoryTitle {
  border: 1px solid black;
  padding: 0.5em;
}

.resourceBlock {
  padding-bottom: 3em;
}

.redTitle {
  color: #964647;
}

.underlineName {
  text-decoration: underline;
}
.resourceLine {
  font-size: 0.9em;
  text-align: left;
}

.viewUl {
  display: inline-block;
}

.viewBtn {
  padding: 0.5em;
  border: 1px solid gray;
  width: 12em;
  height: auto;
  display: inline-block;
  opacity: 0.8;
  color: gray;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.viewBtn:hover {
  color: #964647;
}
