.topSpace {
  padding-top: 2.8em;
}

.resourceMain {
  margin-bottom: 0.2em;
}

.resourceList {
  text-align: center;
}

.resourceSubtitle {
  margin-top: -1em;
  margin-bottom: -0.8em;
}

.collapseClick {
  border: 1px solid black;
  padding-bottom: 1em;
}

.resourceBlock {
  margin-bottom: 0;
}

.redTitle {
  color: #964647;
}

.underlineName {
  text-decoration: underline;
}

.resourceLine {
  font-size: 0.9em;
  text-align: left;
  padding-bottom: 2em;
}

.viewUl {
  display: inline-block;
}

.categoryAnchor {
  padding-bottom: 1em;
}

.viewBtn {
  padding: 0.5em;
  text-decoration: underline;
  display: inline-block;
  opacity: 0.8;
  color: gray;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8em;

}

.viewBtn:hover {
  color: #964647;
}

/*.fadedLine {
    margin-top: -0.1em;
    margin-bottom: -0.4em;
}*/

i {
  padding-left: 3px;
}
