<a class="twitter-timeline"
  data-widget-id="600724936517242880"
  href="https://twitter.com/twitter/lists/official-twitter-accts"
  data-list-owner-screen-name="twitter"
  data-list-slug="official-twitter-accts">
Tweets from https://twitter.com/twitter/lists/official-twitter-accts
</a>

<!-- An embedded timeline consists of three parts:
a widget configuration edited on Twitter.com
a link to the full timeline display on Twitter.com added to your webpages
Twitter’s widget JavaScript to enhance the link with a fully-rendered Timeline
-->
