<!-- PROFILE IMAGE SECTION -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 center border">
                        <div class="row center">
                          <h3 class="name why">ABOUT</h3>
                        </div>
                        <hr>
                        <div class="row whyP">
                            <p class="norm center">
                            BE ORIGINAL.
                            </p>
                            <p class="p-pad-fix left">
                            DRY Blog was created as a resource for women in the tech space. There are too many stories that go untold about accomplishments in this growing field. Our hope is that DRY Blog will serve as inspiration for anyone looking to expand their knowledge, contributions, and impact on the surrounding community.
                            </p>
                            <p class="p-pad-fix left">
                            We hope to enlighten our readers as to what these successful ladies have faced during their journey and also present their insights into the world of technology.
                            </p>
                            <p class="p-pad-fix left">
                            Why DRY? We want you to create your own journey and experience, but don't forget the wisdom gained by learning from the history of others. DRY aims to influence this by providing you with the ability to peek into the minds of those who have accomplished significant goals in this community. By reading, you can learn not to only gain advice, but to learn the importance of not imitatiting, but creating your own. Creating your own to set you apart, even from your past experiences as your move forward in a new space. Don't repeat your past or the past of any other.
                            </p>
                            <p class="norm center">
                            Progress forward and create your own.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

