<div class="container aboutContainer">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 center border">
            <div class="row center">
              <h3 class="why">MISSION</h3>
            </div>
            <hr>
            <div class="row whyP">
                <p class="norm center">
                BE ORIGINAL.
                </p>
                <p class="p-pad-fix left">
                DRY Blog was created as a resource, outlet, and community for women in the tech space. There are too many stories that go untold about accomplishments, failures, and experiences in this growing field. Our hope is that this platform will serve as a catalyst for action and a connector of experiences surrounding diversity in technology.
                </p>
                <p class="p-pad-fix left">
                Why DRY? Each of us is entitled to create our own path, but there is also a great deal of wisdom gained by learning from others. DRY aims to provide insight into the minds of incredible women accomplishing significant goals in this community. The stories of these original, creative women demonstrate the importance of creation over imitation. Don't repeat your past or the past of any other. Break boundaries, find comfort in ambition, carve space for exploration, and stay hungry.
                </p>
                <p class="norm center">
                Progress forward and own it.
                </p>
            </div>
        </div>
    </div>
</div>

