<!-- PROFILE IMAGE SECTION -->
    <header>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 center border">
                        <div class="row center">
                          <h3 class="name">Lucy Cifferello</h3>
                        </div>
                        <div class="row center image">
                          <img class="aboutImages center" src="../img/lucy.jpg" alt="" width="200" height="200">
                        </div>
                        <div class="row social">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="https://twitter.com/el_ve_ce" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/lucyvictoria" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/elvece" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id ante urna. Aliquam vulputate justo luctus varius consequat. Fusce maximus, dui vel ultricies dictum, magna lacus interdum augue, consequat pulvinar dui velit vitae lorem. Donec egestas accumsan felis sed scelerisque. Sed bibendum mauris mauris, at suscipit tellus molestie sit amet. Vivamus nibh nisl, aliquet eget quam ut, fermentum fringilla lectus. Quisque id ornare dolor, eu venenatis mauris. Sed fringilla quis quam id sodales.</p>
                        </div>
                    </div>
                    <div class="col-md-6 center border">
                        <div class="row center">
                            <h3 class="name">Zoë Adelman</h3>
                        </div>
                        <div class="row center image">
                            <img class="aboutImages center" src="../img/zoe1.png" alt="" width="200" height="200">
                        </div>
                        <div class="row social">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="http://www.zoeadelman.com" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-globe fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/ZoeAde" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/zoeade" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/zoeadelman" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <p class="left">Zoë was born and raised in New England. Growing up with three brothers, she learned the value of independence and having tough skin at a young age. She studied Anthropology and Spanish in college, but after a few years working in the e-commerce space, she took a strong liking to web development and design. As a full-stack web developer, Zoë is able to blend her love of language, aesthetics, and problem-solving in an increibly fun and rewarding way. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


