    <!-- Interview Section -->
<div>
    <section id="interview" class="container content-section text-center">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2>Add Blog Post</h2>
            </div>
                <form role="form">
                    <div class="col-sm-5 col-lg-offset-1">
                        <div class="form-group">
                            <label for="text">First Name</label>
                            <input type="text" ng-model="newPost.firstName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="text">Last Name</label>
                            <input type="text" ng-model="newPost.lastName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="text">Position</label>
                            <input type="text" ng-model="newPost.position" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="text">Company</label>
                            <input type="text" ng-model="newPost.company" class="form-control">
                        </div><br>
                        <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" ng-click="addBlogPost();">Add</button>
                    </div>
<!--                     <div class="col-sm-5">
                        <div class="form-group">

                    <div class="form-group">
                        <label>Select Files</label>
                        <br>
                        <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                    </div>

                        </div>
                        <div class="form-group">
                            <label for="text">New Question</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="text">Response</label>
                            <input type="text" class="form-control">
                        </div>
                    </div> -->
                </form>
            </div>
            <div ng-repeat="post in posts">
                <p>{{ post.firstName }}</p>
                <button type="submit" class="btn btn-sm btn-primary" ng-click="deleteBlogPost(post._id)" id="js-upload-submit">Delete</button>
                <a class="btn btn-sm btn-primary" href="/#/post/{{post._id}}/{{post.firstName}}" ng-click="">View</a>
            </div>
        </div>
    </section>
</div>
