<!-- PROFILE IMAGE SECTION -->

<div class="container-fluid">

<!-- <div class="row center">
    <div class="col-sm-4 col-xs-12 col-md-3 col-lg-3">
        <div class="polaroid">
            <a href="">
                <img class="" ng-src="https://s3.amazonaws.com/dryimages/lucy_snow.jpg" width="100%" alt="Lucy" title="test test">
                <div class="authorTitle fontMontserrat weightSeven uppercase ">Lucy Cifferello</div>
                <div class="authorSubtitle fontMontserrat weightSeven uppercase">Full-Stack Developer</div>
            </a>
        </div>
    </div>
</div> -->

    <!-- IMAGES -->
    <div class="row center">
        <!-- LUCY -->
        <div class="col-sm-3 col-xs-12 col-sm-offset-1">
            <div class="row">
                <div class="polaroid">
                    <a href="/post/{{post.lastName}}/{{post.firstName}}">
                        <img class="" ng-src="https://s3.amazonaws.com/dryimages/lucy_snow.jpg" width="100%" alt="Lucy">
                        <div class="authorTitle fontMontserrat weightSeven uppercase ">Lucy Cifferello</div>
                        <div class="authorSubtitle fontMontserrat weightSeven uppercase">Full-Stack Developer</div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://www.elvece.com" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-globe fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/lucyvictoria" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="https://github.com/elvece" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/el_ve_ce" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                        <li>
                            <a href="mailto:lvcifferello@gmail.com" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            <p class="aboutCreators">A graduate of Psychology and Art, Lucy has always sought to understand the why and how of all things with an imaginative mindset. After exploring various fields akin to her talents, she decided to pursue web development when she discovered her enthusiasm for the synthesis of design and creative problem solving in coding. Currently a MEAN Stack Developer, Lucy is motivated to accent her learning by meeting individuals in this community and conversing about their experiences.
            </p>
        </div>
        <!-- ZOE -->
        <div class="col-sm-4 col-xs-12 col-sm-offset-2">
            <div class="polaroid">
                <a href="/post/{{post.lastName}}/{{post.firstName}}">
                    <img class="" ng-src="https://s3.amazonaws.com/dryimages/zoe1-min.png" width="100%" alt="Zoe">
                    <div class="authorTitle fontMontserrat weightSeven uppercase">Zoë Adelman</div>
                    <div class="authorSubtitle fontMontserrat weightSeven uppercase">Full-Stack Developer</div>
                </a>
            </div>
            <div>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="http://www.zoeadelman.com" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-globe fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/zoeade" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a href="https://github.com/ZoeAde" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/zoeadelman" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li>
                        <a href="mailto:zoe.a.adelman@gmail.com" target="_blank" class="btn btn-default btn-lg aboutBtn transparent blackColor"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>
            </div>
            <p class="aboutCreators">A graduate of Psychology and Art, Lucy has always sought to understand the why and how of all things with an imaginative mindset. After exploring various fields akin to her talents, she decided to pursue web development when she discovered her enthusiasm for the synthesis of design and creative problem solving in coding. Currently a MEAN Stack Developer, Lucy is motivated to accent her learning by meeting individuals in this community and conversing about their experiences.
            </p>
        </div>
    </div>
</div>
