<!-- PROFILE IMAGE SECTION -->
    <header>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 center border">
                        <div class="row center">
                        <ul class="polaroids polaroid-creator">
                          <li ng-repeat="post in posts">
                            <a href="/post/{{post.lastName}}/{{post.firstName}}" class="text-center">
                              <img ng-src="https://s3.amazonaws.com/dryimages/lucy_snow.jpg" alt="Lucy">
                              <div class="polaroidTitle">Lucy Cifferello</div>
                              <div class="polaroidSubtitle">Full-Stack Developer</div>
                            </a>
                          </li>
                        </ul>
                        </div>
                        <div class="row social">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="http://www.elvece.com" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-globe fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/lucyvictoria" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/elvece" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/el_ve_ce" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="mailto:lvcifferello@gmail.com" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <p class="left">A graduate of Psychology and Art, Lucy has always sought to understand the why and how of all things with an imaginative mindset. After exploring various fields akin to her talents, she decided to pursue web development when she discovered her enthusiasm for the synthesis of design and creative problem solving in coding. Currently a MEAN Stack Developer, Lucy is motivated to accent her learning by meeting individuals in this community and conversing about their experiences.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 center border">
                        <div class="row center">
                         <ul class="polaroids">
                          <li ng-repeat="post in posts">
                            <a href="/post/{{post.lastName}}/{{post.firstName}}" class="text-center">
                              <img ng-src="https://s3.amazonaws.com/dryimages/zoe1-min.png" alt="Zoe">
                              <div class="polaroidTitle">Zoë Adelman</div>
                              <div class="polaroidSubtitle">Full-Stack Developer</div>
                            </a>
                          </li>
                        </ul>
                        </div>
                        <div class="row social">
                            <ul class="list-inline banner-social-buttons">
                                <li>
                                    <a href="http://www.zoeadelman.com" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-globe fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/zoeade" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/ZoeAde" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/zoeadelman" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                                <li>
                                    <a href="mailto:zoe.a.adelman@gmail.com" target="_blank" class="btn btn-default btn-lg aboutBtn"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <p class="left">Zoë was born and raised in New England. Growing up with three brothers, she learned the value of independence and having tough skin at a young age. She studied Anthropology and Spanish in college, but after a few years working in the e-commerce space, she took a strong liking to web development and design. As a full-stack web developer, Zoë is able to blend her love of language, aesthetics, and problem-solving in an increibly fun and rewarding way. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


