        <nav class="navbar navbar-custom navbar-fixed-top fontMontserrat uppercase weightSeven transparent" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll weightSeven" href="/">DRY <span class="weightFour">BLOG</span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse weightFour">
                    <ul class="nav navbar-nav" data-toggle="collapse">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown">
                            <a nav-hide-directive class="page-scroll" href="/#/#content">Interviews</a>
                        </li>
                        <li class="dropdown">
                            <a nav-hide-directive class="page-scroll" href="/resources">Resources</a>
                        </li>
                        <li class="dropdown">
                            <a nav-hide-directive class="page-scroll" href="/about">About</a>
                        </li>
                        <li class="dropdown">
                            <a nav-hide-directive class="page-scroll" href="/creators">Creators</a>
                        </li>
                        <li class="dropdown" ng-if="isAuthenticated()">
                            <a nav-hide-directive class="page-scroll" href="/add">Add</a>
                        </li>
<!--                         <li class="dropdown" ng-if="!isAuthenticated()">
                            <a href="/login">Admin</a>
                        </li> -->
                        <li class="dropdown" ng-if="isAuthenticated()">
                            <a ng-click="logout()" href="go('/')">Logout</a>
                        </li>
                        <!--<li>
                            <a class="page-scroll" href="#twitter" ng-click="toTheTop()">Twitter</a>
                        </li>-->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
