
<div class="container">
  <div class="row full-height">
    <div class="col-sm-8 col-sm-offset-2 center jumbo-border">
      <div class="main-view">
        <img id="logo" ng-src="https://s3.amazonaws.com/dryimages/dry_logo_fix-min.png">
        <hr class="fadeIn fadeInTwo">
      </div>
      <div class="home-blurb uppercase fontMontserrat row">
          <p class="fadeIn fadeInTwo">
          DRY Blog is a platform for women in the tech space
          </p>
          <p class="fadeIn fadeInThree">
            We are a community of builders, innovators, hustlers, creators, explorers, trailblazers, and so much more
          </p>
          <p class="fadeIn fadeInFour">
           Welcome to the club
          </p>
          <a href="#content" class="btn btn-circle page-scroll homeArrow fadeIn fadeInFive" du-smooth-scroll>
            <i class="fa fa-angle-double-down animated"></i>
          </a>
      </div>
    </div>
  </div>
  <section id="content">
    <div class="row">
      <div class="center col-md-12 col-xs-12">
        <div class="home-blurb uppercase fontMontserrat content-blurb">
          <p><strong>Explore the stories of the successful women we have interviewed below</strong></p>
          <p>To find out more about DRY, view our <a class="titleLink" href="/about">mission</a></p>
          <br><br><br>
        </div>
        <div class="center">
          <ul class="polaroids">
            <li ng-repeat="post in posts">
              <a href="/post/{{post.lastName}}/{{post.firstName}}" class="text-center">
                <img ng-src="{{post.homeImage}}" alt="Image">
                <div class="polaroidTitle">{{post.firstName}}  {{post.lastName}}</div>
                <div class="polaroidSubtitle">{{post.position}}, {{post.company}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br>
  <div class="center home-blurb uppercase fontMontserrat">
    <p class="feature-blurb">If you want to be featured,</p>
    <p class="feature-blurb">or would like to recommend someone,</p>
    <p class="feature-blurb"><a class="titleLink" href="mailto:thedryblog@gmail.com">email us!</a></p><br>
  </div>
  <div class="center">
    <a href="" ng-click="toTheTop()" class="btn btn-circle page-scroll homeArrow" du-smooth-scroll>
      <i class="fa fa-angle-double-up animated"></i>
    </a>
  </div>
</div>





<!-- for delete functionality -->
<!-- <button type="submit" class="btn btn-sm btn-default"  id="js-upload-submit" ng-click="deleteBlogPost(post._id)">X</button> -->

<!-- playing with options for changing class on ng-repeat items -->
<!-- ng-class="{even:$even}""
ng-class="{ 'clearfix' : $index % 3 == 0 }"
ng-if="!(($index + 1) % 4)" -->
