
 <!-- PROFILE IMAGE SECTION -->
    <header class="intro imgFormat" ng-style="{'background': post.img, 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-attachment': 'scroll', 'background-position': 'center'}">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="block">
                            <h1 class="brand-heading">{{ post.firstName }} {{ post.lastName}}</h1>
                            <p class="intro-text">{{ post.position }}, {{ post.company }}</p>
                        </div>
                        <a href="#interview" class="btn btn-circle page-scroll homeArrow" du-smooth-scroll>
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Interview Section -->
<div>
    <section id="interview" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The Interview</h2>
                Posted <span am-time-ago="time"></span>
                <div class="summaryDiv row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="summaryText">
                           {{ post.summary }}
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <div ng-repeat="content in post.content">
                    <div class="interviewer">{{ content.question }}</div>
                    <div class="interviewee"><strong>{{ post.firstName }}: </strong>{{ content.answer }}</div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- About the Interviewee -->
<div>
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline banner-social-buttons">
                    <li ng-show="post.social.twitter.length > 0">
                        <a href="{{ post.social.twitter }}" target="_blank" class="btn btn-default btn-lg interviewBtn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li ng-show="post.social.github.length > 0">
                        <a href="{{ post.social.github }}" target="_blank" class="btn btn-default btn-lg interviewBtn"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li ng-show="post.social.instagram.length > 0">
                        <a href="{{ post.social.instagram }}" target="_blank" class="btn btn-default btn-lg interviewBtn"><i class="fa fa-instagram fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li ng-show="post.social.linkedin.length > 0">
                        <a href="{{ post.social.linkedin }}" target="_blank" class="btn btn-default btn-lg interviewBtn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                    <li ng-show="post.social.website.length > 0">
                        <a href="{{ post.social.website }}" target="_blank" class="btn btn-default btn-lg interviewBtn"><i class="fa fa-globe fa-fw"></i> <span class="network-name"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
