<div>
    <div class="container topSpace">
        <div>
            <div class="col-xs-12">
                <div class="row">
                    <div>
                        <h3 class=" col-xs-12 center resourceMain">Resources</h3>
                    </div>
                </div>
                <div class="row center scrollBox">
                    <div class="accordionBlock">
                        <div id="learning" class="row resourceBlock collapse-group">
                            <div class="collapseClick" ng-click="learningShow = !learningShow">
                                <h3 class="categoryTitle">Learning<i class="categoryName fa fa-angle-double-down animated"></i></h3>
                            </div>
                            <div ng-hide="learningShow" id="collapseOne">
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.amazon.com/The-Hard-Thing-About-Things/dp/0062273205" target="_blank">The Hard Thing About Hard Things</a></h6>
                                    <li class="resourceLine left">"Having moved from being a CTO at my last company to CEO at this company, which is a totally different thing for a venture-backed startup, which we are now, it’s like, it’s really just a whole new set of pressures. Where coding is super black and white, people problems, which is largely what CEO’s deal with, is so shades of grey. It’s nuanced. There are feelings involved, you can’t just like, solve the problem, you can’t solve the person. So, that’s been really hard for me, and the Hard Thing about Hard Things has really helped me think through the problems of being a CEO."</li><a class="personalLink" href="/post/Genevier/Char">- Char Genevier</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.nooblife.com/" target="_blank">Noob Life</a></h6>
                                    <li class="resourceLine left">"I started a blog called Noob Life while I was in school for programming. Sadly - I haven’t contributed to it in ages. I would love to expand the blog to include other women contributors, writing about their experiences in “noob-ville”. I swear… I’ll get to it. I just need a few more good lady-developers who like to write (hit me up if you’re interested!)."</li><a class="personalLink" href="/post/Thomas/Bree">- Bree Thomas</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.patagonia.com/us/product/let-my-people-go-surfing-paperback-book?p=BK501-0" target="_blank">Let My People Go Surfing</a></h6>
                                    <li class="resourceLine left">"I think it’s really important when you start a business to know your core values and to know why you are doing what you’re doing. [This is] a book I buy for a lot of people in our company, because we can do it our way, right? Business doesn’t have to be one way or the other."</li><a class="personalLink" href="/post/Walker/Jenna">- Jenna Walker</a>
                                </ul>
                            </div>
                        </div>
                        <div id="inspiration" class="row resourceBlock collapse-group">
                            <div class="collapseClick" ng-click="inspirationShow = !inspirationShow">
                                <h3 class="categoryTitle">Inspiration<i class="categoryName fa fa-angle-double-down animated"></i></h3>
                            </div>
                            <div ng-hide="inspirationShow" id="collapseTwo">
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.theautumngirl.com/" target="_blank">The Autumn Girl</a></h6>
                                    <li class="resourceLine left">"I love seeing more and more women put themselves out there.  This blogger is one of my favorite peeps; a courageous and bold woman, inside and out."
                                    </li><a class="personalLink" href="/post/Morris/Ellie">-Ellie Morris</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.freepeople.com/" target="_blank">Free People</a></h6>
                                    <li class="resourceLine left">"For style inspiration, I turn to the Free People website. Their lace dresses are my favorite, but there are now some pretty cool velvet pieces that I’m excited to try out."</li><a class="personalLink" href="/post/DeLogé/Reyna">- Reyna Deloge</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="https://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action?language=en" target="_blank">Start With Why</a></h6>
                                    <li class="resourceLine left">Simon Sinek has a simple but powerful model for inspirational leadership — starting with a golden circle and the question 'Why?'</li><a class="personalLink" href="/post/Walker/Jenna">-Jenna Walker</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="https://www.ted.com/talks/brene_brown_on_vulnerability?language=en" target="_blank">The Power of Vulnerability</a></h6>
                                    <li class="resourceLine left">"The woman inspiring women, who is just insanely authentic is Brené Brown. She has a talk on vulnerability. She [also] has several books, like Daring Greatly. Rising Strong is her new book. She just talks about being you and being authentic. Her latest book is about the brave and the broken-hearted. It’s the idea that if you’re brave enough, you’re going to fall. Power belongs to those that get back up the fastest."</li><a class="personalLink" href="/post/Walker/Jenna">- Jenna Walker</a>
                                </ul>
                            </div>
                        </div>
                        <div id="community" class="row resourceBlock collapse-group">
                            <div ng-click="communityShow = !communityShow" class="collapseClick">
                                <h3 class="categoryTitle">Community<i class="categoryName fa fa-angle-double-down animated"></i></h3>
                            </div>
                            <div ng-hide="communityShow" id="collapseThree">
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://denverdevs.org/" target="_blank">Denver Dev Slack Channel</a></h6>
                                    <li class="resourceLine left">"Surround yourself with people that are smarter than you (technology wise). These people have been doing it for years. You’ll pick up on little things just from being around them. I don’t learn from reading the books – I learn from doing it."</li><a class="personalLink" href="/post/Koch/Jessica">- Jessica Koch</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="https://www.glassbreakers.co/" target="_blank">Glassbreakers</a></h6>
                                    <li class="resourceLine left">"It’s a mentorship platform that one of my good friends started. You get paired up with other women who are similar, and can meet them [or] chat over email. [It’s] all over the country. I’ve been paired with women not only in Denver. Some I regularly meet with to get coffee. They also have a lot of good articles.  I think it’s really cool because they are now mostly going to be working with big enterprise companies, [working] to implement this platform for them. Right now, it is open to anyone and once you are in, you get matched up with people. It’s called Glassbreakers because, you know, it’s about women breaking the glass ceiling."</li><a class="personalLink" href="/post/Ann%20Durham/Kinsey">- Kinsey Ann Durham</a>
                                </ul>
                            </div>
                        </div>
                        <div id="technology" class="row resourceBlock collapse-group">
                            <div ng-click="technologyShow = !technologyShow" class="collapseClick">
                                <h3 class="categoryTitle">Technology<i class="categoryName fa fa-angle-double-down animated"></i></h3>
                            </div>
                            <div ng-hide="technologyShow" id="collapseFour">
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.calm.com/" target="_blank">Calm App</a></h6>
                                    <li class="resourceLine left">"It’s an app for guided meditation, it’s not like you just set a timer. You pick a focus or sleep meditation and doing that everyday has completely changed my ability to deal with stress. I would recommend even five minutes a day, and if you stop doing it you start to notice, ‘oh my god I’m more irritable and I can’t deal with life.’"</li><a class="personalLink" href="/post/Genevier/Char">- Char Genevier</a>
                                </ul>
                            </div>
                        </div>
                        <div ng-click="entertainmentShow = !entertainmentShow" id="entertainment" class="row resourceBlock collapse-group">
                            <div class="collapseClick">
                                <h3 class="categoryTitle">Entertainment<i class="categoryName fa fa-angle-double-down animated"></i></h3>
                            </div>
                            <div ng-hide="entertainmentShow" id="collapseFive">
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://whineaboutit.tumblr.com/" target="_blank">Whine About It</a></h6>
                                    <li class="resourceLine left">"My life goal is to be Matt Bellassai and be at BowTie and get drunk and talk about code or something. Did you hear that, Bosses? That’s my end goal. Let’s whine about Javascript, with Shelby. He literally sits at his desk at BuzzFeed. People are in the BuzzFeed office working behind him and he just gets drunk. It’s so great."</li><a class="personalLink" href="/post/Kelly/Shelby">- Shelby Kelly</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor">Burning Man Sets</h6>
                                    <li class="resourceLine left">"I’m currently obsessed with the sets I saw Thursday morning at Burning Man 2015: <a href="https://soundcloud.com/tycho/elsewhere-burning-man-sunrise-set-2015" target=
                                    "_blank">Tycho</a> and <a href="https://soundcloud.com/divadanielle/camp-charlie-music-4-unicorns-divadanielle-unicorn-sunrise-2015" target=
                                    "_blank">Diva Danielle</a>! FYI - These are great to code to!"</li><a class="personalLink" href="/post/DeLogé/Reyna">- Reyna Deloge</a>
                                </ul>
                            </div>
                        </div>
                        <div id="mindfulness" class="row resourceBlock collapse-group">
                            <div ng-click="mindfulnessShow = !mindfulnessShow" class="collapseClick">
                                <h3 class="categoryTitle">Mindfulness<i class="categoryName fa fa-angle-double-down animated"></i></h3>
                            </div>
                            <div ng-hide="mindfulnessShow" id="collapseSix">
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://www.positivelypresent.com/" target="_blank">Positively Present</a></h6>
                                    <li class="resourceLine left">"I like her emails and she has even more fun resources to check out."
                                    </li><a class="personalLink" href="/post/Morris/Ellie">-Ellie Morris</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="https://laughinglotusnyc.wordpress.com/" target="_blank">Laughing Lotus</a></h6>
                                    <li class="resourceLine left">"This one is my favorites.  I did my yoga teacher training at LLYC and so I enjoy reading their blog."
                                    </li><a class="personalLink" href="/post/Morris/Ellie">- Ellie Morris</a>
                                </ul>
                                <ul class="col-md-4">
                                    <h6 class="redTitle coralColor"><a class="titleLink" href="http://tinybuddha.com/" target="_blank">Tiny Buddha</a></h6>
                                    <li class="resourceLine left">Simple wisdom for complex lives. Quotes, tips & stories to help us help ourselves and each other.
                                    </li><a class="personalLink" href="/post/Morris/Ellie">- Ellie Morris</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

