<!-- PROFILE IMAGE SECTION -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 center border">
                        <div class="row center">
                          <h3 class="name why">ABOUT</h3>
                        </div>
                        <hr>
                        <div class="row whyP">
                            <p class="left">DRY Blog was created as a resource for women in the tech space. There are too many stories that go untold about accomplishments in this growing field. Our hope is that DRY Blog will serve as inspiration for anyone looking to expand their knowledge, contributions, and impact on the surrounding community.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

