/*.aboutContainer {
  padding-bottom: 2em;
}*/

.why {
  font-size: 8vw;
  margin-top: 7%;
}

@media(min-width:768px) {
  .why {
    font-size: 4.5vw;
  }
}

@media(max-width:768px) {
  .why {
    margin-top: 15%;
  }
}

@media(max-width:414px) {
  .why {
    margin-top: 25%;
  }
}

.whyP {
  margin-top: -1.2em;
}

.p-pad-fix {
  padding: 10px;
  padding-top: 1.2em;
  text-align: justify;
}

@media(max-width:414px) {
  .p-pad-fix {
    text-align: left;
  }
}

.norm {
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-top: 2em;
}
