.aboutContainer {
  padding-bottom: 2em;
}

.why {
  font-size: 4em;
  margin-top: 10%;
}

.whyP {
  margin-top: -1.2em;
}

.p-pad-fix {
  padding: 10px;
  text-align: justify;
}

.norm {
  font-size: 1.1em;
  letter-spacing: 2px;
}
