.addBtn {
    border: none;
    font-size: 1.6em;
    margin: -0.55em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.addBtn:hover,
.addBtn:focus {
    color: #964647;
    background-color: #fff;
}

.addTitle {
  margin-top: -10em;
}

.allContent {
  text-align: left;
  padding-bottom: -1em;
}

.completed {
  text-align: left;
}

.space {
  padding-right: 0.5em;
  padding-bottom: 1em;
}

.arrowSpace {
  padding: 1.2em;
  margin-bottom: 1em;
}

.inputTitle {
  margin-bottom: 0.4em;
  margin-top: 3em;
}

.title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.pad {
  margin-top: 3.2em;
}

.imgPath {
  margin-top: -2.5em;
}
