/*PROFILE ALIGNMENT*/
.aboutCreators {
    text-align: justify;
    padding: 2em;
}

.border {
    margin-top: -4em;
    padding: 6em;
}

.social {
/*    padding-top: 0.5em;*/
    font-size: 0.8em;
    margin-bottom: -1.8em;
}

.aboutImages {
    border-radius: 100px;
    margin-bottom: 1.5em;
}

/*SOCIAL BUTTONS*/
.aboutBtn {
    border: none;
    font-size: 1.6em;
    margin: -0.55em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.aboutBtn:hover,
.aboutBtn:focus {
    color: #964647;
    background-color: #fff;
}


/* POLARIOD FORMATTING */
.polBox {
    margin: 2em 2em 2em 2em;
    -webkit-box-shadow: 4px 4px 9px rgba(0,0,0,.25);
    -moz-box-shadow: 4px 4px 9px rgba(0,0,0,.25);
    box-shadow: 4px 4px 9px rgba(0,0,0,.8);
    padding: 10px 10px 25px;
    width: 20em;
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      transform: rotate(-2deg);
}

.polBox > a > img {
    height: 18em;
}

.authorTitle {
    margin-top: 15px;
    font-size: 1.1em;
}

.authorSubtitle {
    font-size: 0.8em;
}

.polBox, a, a:hover {
    color: black;
    text-decoration: none;

}

.polBox:hover {
    color: black;
    text-decoration: none;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: -webkit-transform .15s linear;
    transition: transform .15s linear;

}



/*END POLAROID FORMATTING*/

