/*PROFILE ALIGNMENT*/
.aboutCreators {
    text-align: justify;
    padding: 2em;
}

.border {
    margin-top: 6%;
}

@media(max-width:414px) {
    .border {
        margin-top: 17%;
    }
}

.social {
/*    padding-top: 0.5em;
*/    font-size: 0.8em;
    margin-bottom: -1.8em;
}

.aboutImages {
    border-radius: 100px;
    margin-bottom: 1.5em;
}

/*SOCIAL BUTTONS*/
.aboutBtn {
    border: none;
    font-size: 1.6em;
    margin: -0.55em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.aboutBtn:hover,
.aboutBtn:focus {
    color: #964647;
    background-color: #fff;
}




