.loginSubmit {
  padding-top: 2em;
}

.loginBtn {
  margin-top: 0.8em;
  font-size: 1em;
  letter-spacing: 3px;
  border: 1px solid black;
  border-radius: 0;
  color: #964647;
}

.loginBtn:hover {
  color: #CA8E8F;
}
