.main-view {
    margin-top: -4.5em;
}

.jumbo-border {
    padding-top: 4em;
    padding-bottom: 5em;
}

/*EMAIL US SECTION*/
.feature-blurb {
    padding-top: 0;
}

/*ARROW ALIGNMENT*/
.homeArrow {
    margin-top: 0;
}

/*LOGO SIZE*/
#logo {
    margin-top: 10%;
    padding-left: 7%;
    height: 45vh;
}

@media (max-device-width: 768px) {
    #logo {
        margin-top: 20%;
        height: 20vh;
    }
}

