.topSpace {
  padding-top: 2.8em;
}

.resourceMain {
  font-size: 6.0vw;
  margin-bottom: 0.6em;
}

.categoryTitle {
    font-size: 2.0vw;
  }

/*@media(min-width:768px) {
  .resourceMain {
    font-size: 4.5vw;
  }
}

@media(max-width: 767px) {
  .categoryTitle {
    font-size: 4vw;
  }
}*/
.resourceSubtitle {
  margin-top: -1em;
  margin-bottom: -0.8em;
}

.collapseClick {
  border: 1px solid black;
  padding-bottom: 1em;
  cursor: pointer;
}

.resourceBlock {
  margin-bottom: 0;
}

.redTitle {
  padding-top: 1.5em;}

.titleLink:hover, .personalLink:hover {
  text-decoration: none;
}

.titleLink:active, .personalLink:active {
  text-decoration: none;
}

.resourceLine {
  font-size: 0.9em;
  padding-bottom: 0.7em;
}

.personalLink {
  padding-bottom: 2em;
}

.categoryAnchor {
  padding-bottom: 1em;
}

.categoryName {
  padding-left: 3px;
}

.scrollBox {
  margin-bottom: 6em;
}

