.topSpace {
  padding-top: 2.8em;
}

.resourceMain {
  margin-bottom: 0.6em;
  font-size: 4em;
}

.resourceSubtitle {
  margin-top: -1em;
  margin-bottom: -0.8em;
}

.collapseClick {
  border: 1px solid black;
  padding-bottom: 1em;
  cursor: pointer;
}

.resourceBlock {
  margin-bottom: 0;
}

.redTitle {
  padding-top: 1.5em;}

.titleLink:hover, .personalLink:hover {
  text-decoration: none;
}

.titleLink:active, .personalLink:active {
  text-decoration: none;
}

.resourceLine {
  font-size: 0.9em;
  padding-bottom: 0.7em;
}

.personalLink {
  padding-bottom: 2em;
}

.categoryAnchor {
  padding-bottom: 1em;
}

.categoryName {
  padding-left: 3px;
}

.scrollBox {
  margin-bottom: 6em;
}

