
/* POLARIOD FORMATTING */


.authorTitle {
    margin-top: 15px;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.authorSubtitle {
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}

.polaroid {
    padding: 10px 10px 20px 10px;
    box-shadow: 4px 4px 9px rgba(0,0,0,.8);
    margin-top: 20px;
    margin-bottom: 20px;
}

.polaroid:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.25);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
}



